In [186]:
import numpy as np
import pandas as pd
import sexmachine.detector as gender
from genderize import Genderize
import datetime as dt

import seaborn as sns
import matplotlib.pyplot as plt

In [311]:
data = pd.read_csv('combine.csv')
data = data[pd.notnull(data['name'])].drop_duplicates()
#data = data.set_index('facebook_user_id').drop_duplicates()
data[:5]

,id,name,facebook_user_name,facebook_user_id,profile_url,works,colleges,current_city,hometown,places_lived,...,birth_date,interested_in,languages,religion,political,gender,relationship,life_events,about,timestamp
0,1,��_������,NaN,1.000040e+14,https://m.facebook.com/profile.php?id=10000442...,null,null,"{""city"": null, ""page_url"": null}","{""hometown"": null, ""page_url"": null}",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}",null,NaN,31:09.6
1,2,Joanna Soong,joanna.soong.98,1.000130e+14,https://m.facebook.com/joanna.soong.98,"[{""company"": ""Industrial and Commercial Bank o...","[{""school"": ""Akademia Leona Ko\u017ami\u0144sk...","{""city"": ""Warsaw, Poland"", ""page_url"": ""/profi...","{""hometown"": ""Guangzhou, China"", ""page_url"": ""...",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}","[{""headline"": ""Started School at Akademia Leon...",NaN,31:23.7
2,3,Paulina G�_recka,NaN,1.000030e+14,https://m.facebook.com/profile.php?id=10000326...,null,null,"{""city"": null, ""page_url"": null}","{""hometown"": ""Warsaw, Poland"", ""page_url"": ""/p...",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}",null,NaN,31:34.7
3,4,Seb��ly Zsuzsanna,zsuzsanna.sebaly,1.482905e+09,https://m.facebook.com/zsuzsanna.sebaly,"[{""company"": ""Cinkotai Huncutka \u00d3voda - O...","[{""school"": ""Eszterh\u00e1zy K\u00e1roly Egyet...","{""city"": null, ""page_url"": null}","{""hometown"": ""Budapest, Hungary"", ""page_url"": ...",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}","[{""headline"": ""Graduated from Eszterh\u00e1zy ...",��ܾ__��Ս����վ���_��_� �__�_��_���������_�_����...,31:35.7
4,5,Amy Xie,amy.xie.940,5.289969e+08,https://m.facebook.com/amy.xie.940,null,"[{""school"": ""University of British Columbia"", ...","{""city"": ""Richmond, British Columbia"", ""page_u...","{""hometown"": ""Richmond, British Columbia"", ""pa...",null,...,NaN,Men,[],NaN,NaN,Female,"{""text"": ""Single"", ""link"": null}",null,NaN,31:46.8

In [257]:
len(data)
#total: 1472

1470

In [197]:
data.columns

Index([u'id', u'name', u'facebook_user_name', u'facebook_user_id',
       u'profile_url', u'works', u'colleges', u'current_city', u'hometown',
       u'places_lived', u'fav_quotes', u'websites', u'mobile_numbers',
       u'birth_date', u'interested_in', u'languages', u'religion',
       u'political', u'gender', u'relationship', u'life_events', u'about',
       u'timestamp'],
      dtype='object')

In [312]:
data = data[['facebook_user_id','works','colleges','current_city',
             'hometown','birth_date','interested_in','gender','relationship']]
len(data)

1470

In [256]:
data['gender'].value_counts()

Female    721
Male      470
Name: gender, dtype: int64

# Gender Imputation

In [304]:
gender = data[pd.notnull(data['gender'])]
len(gender)

1191

In [195]:
gender[:5]

,id,name,facebook_user_name,facebook_user_id,profile_url,works,colleges,current_city,hometown,places_lived,...,birth_date,interested_in,languages,religion,political,gender,relationship,life_events,about,timestamp
0,1,��_������,NaN,1.000040e+14,https://m.facebook.com/profile.php?id=10000442...,null,null,"{""city"": null, ""page_url"": null}","{""hometown"": null, ""page_url"": null}",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}",null,NaN,31:09.6
1,2,Joanna Soong,joanna.soong.98,1.000130e+14,https://m.facebook.com/joanna.soong.98,"[{""company"": ""Industrial and Commercial Bank o...","[{""school"": ""Akademia Leona Ko\u017ami\u0144sk...","{""city"": ""Warsaw, Poland"", ""page_url"": ""/profi...","{""hometown"": ""Guangzhou, China"", ""page_url"": ""...",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}","[{""headline"": ""Started School at Akademia Leon...",NaN,31:23.7
2,3,Paulina G�_recka,NaN,1.000030e+14,https://m.facebook.com/profile.php?id=10000326...,null,null,"{""city"": null, ""page_url"": null}","{""hometown"": ""Warsaw, Poland"", ""page_url"": ""/p...",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}",null,NaN,31:34.7
3,4,Seb��ly Zsuzsanna,zsuzsanna.sebaly,1.482905e+09,https://m.facebook.com/zsuzsanna.sebaly,"[{""company"": ""Cinkotai Huncutka \u00d3voda - O...","[{""school"": ""Eszterh\u00e1zy K\u00e1roly Egyet...","{""city"": null, ""page_url"": null}","{""hometown"": ""Budapest, Hungary"", ""page_url"": ...",null,...,NaN,NaN,[],NaN,NaN,Female,"{""text"": """", ""link"": null}","[{""headline"": ""Graduated from Eszterh\u00e1zy ...",��ܾ__��Ս����վ���_��_� �__�_��_���������_�_����...,31:35.7
4,5,Amy Xie,amy.xie.940,5.289969e+08,https://m.facebook.com/amy.xie.940,null,"[{""school"": ""University of British Columbia"", ...","{""city"": ""Richmond, British Columbia"", ""page_u...","{""hometown"": ""Richmond, British Columbia"", ""pa...",null,...,NaN,Men,[],NaN,NaN,Female,"{""text"": ""Single"", ""link"": null}",null,NaN,31:46.8

In [253]:
raw_gender_count = data['gender'].value_counts()

In [305]:
# 80.99% (1193/1473) users specify their gender, for the null one, we use existing gender predictor api 
# (predict from first name) to infer their gender. Later we will combine with face recognition to have a more precise result.

sex_null = data.loc[data['gender'].isnull()]
sex = sex_null[['name','gender']]
#df[['first name','last name']] = df['name'].loc[df['name'].str.split().str.len() == 2].str.split(expand=True)
sex['first name']=sex['name'].str.split().str[0]

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [306]:
import chgender

gender_guess = sex['first name'].apply(chgender.guess)
gender_guess
sex['gender'] = pd.DataFrame(gender_guess.values.tolist(),index=sex.index)[0].str.capitalize()

data.loc[(pd.isnull(data.gender)), 'gender'] = sex['gender']

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [307]:
data['gender'].value_counts()

Female     926
Male       541
Unknown      3
Name: gender, dtype: int64

In [69]:
data.loc[data['gender'] == 'Unknown']
#will try to use photo to detect these unknown

,id,name,facebook_user_name,profile_url,works,colleges,current_city,hometown,places_lived,fav_quotes,...,birth_date,interested_in,languages,religion,political,gender,relationship,life_events,about,timestamp
facebook_user_id,,,,,,,,,,,,,,,,,,,,,
1.00001E+14,238,Tim Mai,tmai.7,https://m.facebook.com/tmai.7,null,null,"{""city"": null, ""page_url"": null}","{""hometown"": null, ""page_url"": null}",null,NaN,...,NaN,NaN,[],NaN,NaN,Unknown,"{""text"": """", ""link"": null}",null,NaN,00:18.4
756746773,647,Pam Ela,pam.ela.75098,https://m.facebook.com/pam.ela.75098,null,null,"{""city"": null, ""page_url"": null}","{""hometown"": null, ""page_url"": null}",null,NaN,...,NaN,NaN,[],NaN,NaN,Unknown,"{""text"": """", ""link"": null}",null,NaN,12:09.2
1205419792,58,Mya Zhang,myamingchen.zhang,https://m.facebook.com/myamingchen.zhang,null,null,"{""city"": ""London, United Kingdom"", ""page_url"":...","{""hometown"": null, ""page_url"": null}",null,NaN,...,NaN,NaN,[],NaN,NaN,Unknown,"{""text"": """", ""link"": null}",null,NaN,27:01.4

### Check accuracy of Chgender

In [262]:
sex2 = data.loc[data['gender'].notnull()]
sex2 = sex2[['name','gender']]
#df[['first name','last name']] = df['name'].loc[df['name'].str.split().str.len() == 2].str.split(expand=True)
sex2['first name']=sex2['name'].str.split().str[0]

guess = sex2['first name'].apply(chgender.guess)
pd.DataFrame(guess.values.tolist(),index=sex2.index)[0]
sex2['guess'] = pd.DataFrame(guess.values.tolist(),index=sex2.index)[0].str.capitalize()

sex2 = sex2[['gender', 'guess']].assign(NE=sex2.gender != sex2.guess)
sex2['NE'].value_counts()

False    696
True     495
Name: NE, dtype: int64

# Age

In [264]:
age = data[pd.notnull(data['birth_date'])]
len(age)

428

In [265]:
#age['year'] = pd.to_datetime(age['birth_date'])
age['year'] = pd.to_datetime(age['birth_date'],errors='coerce').dt.year
age['age'] = (pd.to_datetime('today').year - age['year'])
age = age[age['year'] != 2054]

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [269]:
age['age'].describe()

count    323.000000
mean      24.730650
std        2.414736
min       21.000000
25%       24.000000
50%       24.000000
75%       25.000000
max       44.000000
Name: age, dtype: float64

In [150]:
age['age'].value_counts().sort_values(ascending=False)

24.0    155
25.0     87
23.0     24
26.0     23
22.0     11
27.0      8
28.0      2
21.0      2
42.0      2
29.0      2
44.0      1
30.0      1
35.0      1
34.0      1
33.0      1
31.0      1
38.0      1
Name: age, dtype: int64

# College

In [204]:
#colleges = data[['facebook_user_id','colleges']]

colleges = data[data['colleges'] != '']

len(colleges[colleges.colleges.str.contains('school')])
# 63.72% reveals their schools

937

In [365]:
college = pd.DataFrame(colleges.colleges.str.split(',').tolist(), index=colleges.facebook_user_id).stack()
college = college.reset_index()[[0, 'facebook_user_id']] # var1 variable is currently labeled 0
college.columns = ['colleges', 'facebook_user_id'] # renaming var1
#college = college[college.colleges.str.contains('school')]
college[:10]

                                            colleges  facebook_user_id
0                                               null      1.000040e+14
1  [{"school": "Akademia Leona Ko\u017ami\u0144sk...      1.000130e+14
2                               "url": "/kozminski/"      1.000130e+14
3                                  "graduated": null      1.000130e+14
4         "concentrations": ["Accounting & Finance"]      1.000130e+14
5                                "description": null      1.000130e+14
6                                    "start": "2016"      1.000130e+14
7                                      "end": "2018"      1.000130e+14
8                          "attended_for": "College"      1.000130e+14
9                                    "degree": null}      1.000130e+14

In [299]:
time = college[college.colleges.str.contains('"start":|"end":')]
time = time[time.colleges.str.contains('0|9')]
len(time.groupby('facebook_user_id'))

193

In [279]:
college.colleges = college.colleges.str.replace('"','')
college.colleges = college.colleges.str.replace('[','')
college.colleges = college.colleges.str.replace(']','')
college.colleges = college.colleges.str.replace('{','')
college.colleges = college.colleges.str.replace('}','')
college = college[~college['colleges'].str.contains('url:')]
college = college[~college['colleges'].str.contains('description:')]
grad_time = college[college.colleges.str.contains('start:|end:')]
grad_time = college[college.colleges.str.contains('0|9')]
len(grad_time.groupby('facebook_user_id'))
#grad_time.groupby('facebook_user_id')['colleges']

217

In [366]:
grad_time[:10]

                                             colleges  facebook_user_id
1   school: Akademia Leona Ko\u017ami\u0144skiego ...      1.000130e+14
6                                         start: 2016      1.000130e+14
7                                           end: 2018      1.000130e+14
10   school: \u5e7f\u4e1c\u5916\u8bed\u5916\u8d38\...      1.000130e+14
19                   school: \u5e7f\u96c5\u4e2d\u5b66      1.000130e+14
29  school: Eszterh\u00e1zy K\u00e1roly Egyetem - ...      1.482905e+09
32   concentrations: Fejleszt\u0151-differenci\u00...      1.482905e+09
35                                          end: 2018      1.482905e+09
38   school: PTE Illy\u00e9s Gyula Tan\u00edt\u00f...      1.482905e+09
44                                          end: 1999      1.482905e+09

In [364]:
m4 = college[college['colleges'].str.contains('degree')]
m4.colleges = m4.colleges.str.replace('"degree":','')
m4.colleges = m4.colleges.str.replace('}','')
m4.colleges = m4.colleges.str.replace(']','')

degree = m4[~m4.colleges.str.contains('null')]
degree.colleges = degree.colleges.str.replace('"','')
degree.colleges = degree.colleges.str.replace('"','')

highest_degree = degree.groupby('facebook_user_id').first()
highest_degree['colleges'].value_counts()

  Graduate School                                        43
  PhD                                                    28
  Master                                                  5
  Juris doctor                                            4
  Ph.D.                                                   2
  Juris Doctor                                            2
  Master of Fine Arts                                     1
  Master of Arts in Teaching                              1
  Master of Arts in Law and Diplomacy                     1
  MMus                                                    1
  MSc Health Psychology                                   1
  Doctorate                                               1
  Master of Social Work                                   1
  MS                                                      1
  Master of Business Administration                       1
  Doctorate of Physical Therapy                           1
  LL.M.                                                   1
  PhD (ABD)                                               1
  Master of Arts (M.A.)                                   1
  Master of Divinity                                      1
  Juris Doctor (J.D.)                                     1
  Ph.D in Political Science                               1
  Masters in the Art of Teaching                          1
  Masters in Social Work with a focus in Group Work.      1
  M.D.                                                    1
  Doctor of Medicine                                      1
  Master of Architecture                                  1
  PhD in Information Systems                              1
  P.h.d Doctor                                            1
  BEng                                                    1
  Doctor                                                  1
  MD                                                      1
  Master of Public Health                                 1
  MA                                                      1
  French                                                  1
  J.D.                                                    1
  Masters of Engineering                                  1
Name: colleges, dtype: int64

# work

In [208]:
len(data.current city.str.contains('company'))

527

In [367]:
work = pd.DataFrame(data.works.str.split(',').tolist(), index=colleges.facebook_user_id).stack()
work = work.reset_index()[[0, 'facebook_user_id']] # var1 variable is currently labeled 0
work.columns = ['works', 'facebook_user_id'] # renaming var1
work_time = work[work.works.str.contains('"start":|"end":')]
work_time[:10]

                         works  facebook_user_id
6                "start": null      1.000130e+14
7                "end": null}]      1.000130e+14
14               "start": null      1.482905e+09
15                "end": null}      1.482905e+09
22   "start": "September 1983"      1.482905e+09
23      "end": "August 1988"}]      1.482905e+09
30               "start": null      5.809018e+08
31                "end": null}      5.809018e+08
37               "start": null      5.809018e+08
38                "end": null}      5.809018e+08

In [288]:
work_time = work_time[work_time.works.str.contains('1|2')]
len(work_time.groupby('facebook_user_id'))

146

In [368]:
work.works = work.works.str.replace('[','')
work.works = work.works.str.replace('{','')
work.works = work.works.str.replace(']','')
work.works = work.works.str.replace('}','')
work.works = work.works.str.replace('"','')
work.works = work.works.str.replace('"','')
work = work[~work['works'].str.contains('url:')]
work = work[~work['works'].str.contains('description:')]

work_time = work[work.works.str.contains('start:|end:')]
work_time = work_time[work_time.works.str.contains('0|9')]
len(grad_time.groupby('facebook_user_id'))

217

# Relationship

In [302]:
data['relationship'] = data['relationship'].astype(str)
relationship = pd.DataFrame(data.relationship.str.split(',').tolist(), index=data.facebook_user_id).stack()
relationship = relationship.reset_index()[[0, 'facebook_user_id']] # var1 variable is currently labeled 0
relationship.columns = ['relationship', 'facebook_user_id'] # renaming var1
relationship = relationship[relationship['relationship'].str.contains('In|Married|Single|Engaged')]
relationship.relationship = relationship.relationship.str.replace('{"text":','')
relationship.relationship = relationship.relationship.str.replace('"','')


len(relationship)

211

In [303]:
married = relationship[relationship['relationship'].str.contains('Married|Engaged')]
rel = relationship[relationship['relationship'].str.contains('In')]
print len(married)
print len(rel)

16
62

# Interested In

In [244]:
len(data[pd.notnull(data['interested_in'])])

214